
# --- Standard ignores ---
# Jupyter
# Logs & outputs
# OS cruft
# Python
# Virtual envs
*.csv
*.egg-info/
*.log
*.nbconvert.ipynb
*.py[cod]
.DS_Store
.env/
.ipynb_checkpoints/
.venv/
Thumbs.db
__pycache__/
out/
